Div{
	background-color: #797979;
}

H1{
	text-align: center;
	color: black;
	margin-top: 20;
	margin-bottom: 10;
}

P{
	margin-top: 0;
	text-align: center;
	font-style: italic;
	font-size: small;
}

.selectDrop{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

.selectSlider{
	width: 80%;
}